/* * {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  } */
  
  h1 {
    text-align: center;
    font-size: 60px;
    color: blueviolet;
  }
  
  h3 {
    font-size: 26px;
    padding-bottom: 5px;
  }
  
  h4{
    font-size: 19px;
  }

  p{
    font-size: 21px;    
  }

  ul{
    font-size: 19px;
    /* padding-bottom: 20px; */
  }

  .red {
    color: red;
    font-size: 30px;
  }

  button{
    padding: 0;
    border: none;
  }

  button a{
    text-decoration: none;
    background-color: blueviolet;
    border-radius: 8px;
    color: white;
    padding:4px 20px;
    font-size: 15px;
  }

  button a:hover{
    text-decoration: none;
    background-color: white;
    border: 1.5px solid blueviolet;
    border-radius: 8px;
    color:blueviolet;
    padding:4px 20px;
    font-size: 15px;
    font-weight: 700;
  }

  
  #challenge {
    margin-top: 15px;
    border: 2px solid brown;
    padding: 0 10px;
  }
  
  .fun {
    font-size: 50px;
    color: blueviolet;
  }
  
  .prompt {
    color: red;
    /* font-size: 30px; */
  }

  #challenge p button a{
    text-decoration: none;
    color: blueviolet;
  }

  #challenge p button {
    border-radius: 19px;
    border: 2px solid blueviolet;
    padding: 10px;
    background-color: #e1e1e1;
  }
  
 